<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

<div *ngIf="authService.currUsr == null" class="askLogin">
    <p>please login to view content</p>
    <button [routerLink]="['/login']" *ngIf="authService.currUsr == null" id = "login-btn">LOGIN</button>
</div>

<div class="newsDiv" *ngFor="let item of runW">
    <div class="contentDiv" *ngIf="authService.currUsr != null">
        <p>ID: {{item.id}}</p>
        <p class="big">Name: {{item.user.name}}</p>
        <p>Username: {{item.user.username}}</p>
        <p>Twitter: {{item.user.twitter_username}}</p>
        <p>Github: {{item.user.github_username}}</p>
        <p>Website: {{item.user.website_url}}</p>
        <p>Profile image: {{item.user.profile_image}}</p>
        <p class="big">Title: {{item.title}}</p>
        <p>Description: {{item.description}}</p>
        <p>Date: {{item.readable_publish_date}}</p>
        <p>URL: {{item.url}}</p>
        <p>Comments count: {{item.comments_count}}</p>
        <p>Collection ID: {{item.collection_id}}</p>
        <p>Public reactions: {{item.public_reactions_count}}</p>
        <p>Positive reactions: {{item.positive_reactions_count}}</p>
        <p>Published timestamp: {{item.published_timestamp}}</p>
        <p>Cover image: {{item.cover_image}}</p>
        <p>Social image: {{item.social_image}}</p>
        <p>Canonical URL: {{item.canonical_url}}</p>
        <p>Created date: {{item.created_at}}</p>
        <p>Edited date: {{item.edited_at}}</p>
        <p>Crossposed date: {{item.crossposted_at}}</p>
        <p>Published date: {{item.published_at}}</p>
        <p>Last comment date: {{item.last_comment_at}}</p>
        <p>Reading time(min): {{item.reading_time_minutes}}</p>
        <p>Tag: {{item.tags}}</p>
        <p id="watermark">Made by NHTri</p>
    </div>
</div>
